---
import Tour from '../components/Tour.astro';

let title = 'My New Astro Site!';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/main.min.css"><link rel="stylesheet" href="/style/home.css">
</head>

<body>
  

    
  
</body>
</html>
