<section class="hero"
  style="background:url(https://source.unsplash.com/random/1920x1080) no-repeat center;">
  
  <label for="" class="subtitle">Watch Video</label>
  <h3 class="title">Differentiate Yourself And Attract
    More Attention Sales And Profits</h3>
</section>
<style>
  .hero {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(https://source.unsplash.com/random/1920x1080) no-repeat center;
    color: #fff;
    filter: grayscale(100%);
    padding: 0;
  }

  .hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .51;
    background: linear-gradient(180deg, #030303 0%, rgba(58, 58, 58, 0.75) 30%, rgba(255, 255, 255, 0.13) 100%);
    
  }

  .subtitle {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 2rem;
    color: #fff;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    max-width: 44rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
    
  }

.title:after {
    content: "";
    border-bottom: 2px solid #fff;
   
    display: block;
  }

</style>