---
import { Markdown } from 'astro/components';
import Counter from './Counter.jsx';
---
<article>
  <section>
    <Markdown>
      ## 🚀 Project Structure

      In this project, you'll see the following folders and files:

      ```
      /
      ├── public/
      │   ├── robots.txt
      │   └── favicon.ico
      ├── src/
      │   ├── components/
      │   │   └── Counter.jsx
      │   │   └── Counter.module.css
      │   │   └── Tour.astro
      │   └── pages/
      │       └── index.astro
      ├── netlify.toml
      └── package.json
      ```

      Static assets can be placed in the `public/` directory.
    </Markdown>
  </section>

  
  <section>
    <p>
    Feel free to check out the <a href="https://github.com/snowpackjs/astro">Astro documentation</a> to learn more,
    or see the code for this site <a href="https://github.com/cassidoo/astro-netlify-starter">here</a>.
    </p>
  </section>
  <section>
  Incididunt cupidatat cupidatat ullamco ea. Ullamco nostrud duis laboris non est eu eiusmod qui et deserunt sunt. Do reprehenderit dolore minim magna ad in officia dolore eu amet et aliqua consectetur labore. Quis sit ea nulla ea aliqua sunt. Adipisicing quis nisi culpa ullamco pariatur eu irure occaecat aute commodo.

Non commodo voluptate ad exercitation ipsum cillum nisi cupidatat pariatur duis est magna sint. Occaecat aliquip sunt nulla eu consectetur ipsum et reprehenderit culpa cupidatat eu fugiat. Fugiat nisi officia elit est consectetur exercitation irure culpa sint. Ut ullamco proident et voluptate consequat veniam eu consectetur aliqua.

Dolor amet exercitation amet sint commodo mollit consectetur ea cillum cupidatat. Id commodo pariatur incididunt tempor eiusmod veniam dolore duis laboris dolore ipsum nisi. Commodo occaecat et cillum velit cupidatat laborum. Sunt consectetur nisi nostrud est id duis officia esse. Deserunt aliqua non duis deserunt ex ipsum. Eiusmod irure ipsum occaecat commodo dolore Lorem sit non. Dolor minim nisi commodo sit irure commodo occaecat duis ut id consequat ad.

Sunt mollit fugiat et nisi consequat. Quis in dolore fugiat est in tempor sit commodo nostrud consectetur nostrud. Quis dolore ad proident sit nulla dolore cillum laboris elit nulla sint. Exercitation anim reprehenderit consequat officia quis cillum et sint aliqua anim deserunt quis. In consequat enim amet commodo dolore ut consectetur.

Ut pariatur adipisicing occaecat ullamco consequat consectetur est sit. Magna magna et tempor nisi. Non ut incididunt nostrud id ea reprehenderit et tempor voluptate. Id qui elit amet sint nulla aliqua enim velit. Minim pariatur amet dolor incididunt nisi exercitation sint mollit. Amet aute velit elit voluptate.

Id culpa ex ipsum cupidatat non magna commodo non eu. Proident dolor ipsum consequat ex voluptate. Commodo enim labore sint nulla nostrud exercitation. Dolor mollit Lorem elit irure enim proident et ea consequat fugiat.

Duis irure ad mollit excepteur pariatur pariatur ad enim anim cupidatat reprehenderit cillum adipisicing ullamco. Ut Lorem mollit laboris cupidatat cillum non eiusmod duis id. Anim nostrud laboris non cupidatat esse commodo velit tempor minim.

Nulla et do ea velit consectetur deserunt adipisicing. Pariatur aliquip id cillum in dolore officia culpa labore minim cupidatat velit labore pariatur voluptate. Proident dolore nisi irure et ut adipisicing amet amet.

Do occaecat proident mollit sint mollit laborum. Enim mollit ex sint et. Commodo Lorem mollit eu elit do consequat eiusmod. Commodo et id amet quis dolore nisi. Reprehenderit minim reprehenderit magna adipisicing proident fugiat consectetur reprehenderit laboris commodo ad laboris et et.

Nisi ut aliqua enim duis laboris nulla do incididunt aliquip. Anim est ex excepteur veniam ad occaecat labore nulla. Est exercitation minim in excepteur occaecat eu exercitation id proident aliquip do cupidatat voluptate. Consequat laborum pariatur veniam ad labore Lorem occaecat occaecat. Commodo consequat mollit ullamco occaecat dolore dolor. Aliquip velit enim qui esse pariatur nisi eiusmod ex est esse consequat est labore. Reprehenderit ex do deserunt dolore consequat qui laborum officia consectetur enim.
  </section>
    
    <!-- This Counter will only load the client side JS when it is visible on the page -->
  <Counter client:visible />

</article>

<style>
    article {
        padding-top: 2em;
        line-height: 1.5;
    }
    section {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 70ch;
    }

    pre,
    code {
        font-family: var(--font-mono);
        background: var(--color-light);
        border-radius: 4px;
    }

    pre {
        padding: 1em 1.5em;
    }

    .tree {
        line-height: 1.2;
    }

    code:not(.tree) {
        padding: 0.125em;
        margin: 0 -0.125em;
    }
</style>
