---
import { Markdown } from 'astro/components';
import TopSection from './TopSection.jsx';
---
<header class="header">
		<div class="container">
			<div class="header_inner">
				<a class="header_logo" href="/">
					<img src="//images/logo.svg" alt="Logo">
				</a>
				<div class="header_navbar">
					<nav class="header_nav">
						<ul>
							<li class="active"><a href="#">About</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Entrepreneurs</a></li>
							<li><a href="#">M&A Partners</a></li>
							<li><a href="#">Investors</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Jobs</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
					<a class="header_login btn btn_secondary" href="#">Login</a>
					<div class="header_languages">
						<div class="header_languages_current">
							<span>EN</span>
							<svg class="svg_arrow_dropdown">
								<use xlink:href="/images/sprite/sprite.svg#arrow_dropdown"></use>
							</svg>
						</div>
						<div class="header_languages_dropdown">
							<ul class="header_languages_list">
								<li><a href="#">EN</a></li>
								<li><a href="#">EN</a></li>
								<li><a href="#">EN</a></li>
								<li><a href="#">EN</a></li>
							</ul>
						</div>
					</div>
				</div>
				<button class="header_toggle">
					<span>Toggle menu</span>
				</button>
			</div>
		</div>
	</header>
	<TopSection />
    <div class="partners_content">
		<div class="container">
            <h2 class="partners_title section_title bottom_line col_5 col_t_12">Meet our partners Lorem ipsum dolor sit amet conse</h2>
            <div class="partners_posts">
                <div class="partners_post_item">
                    <div class="partners_post_logo">
                        <img src="/images/partner_logo_1.png" width="284" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Docker</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_logo">
                        <img src="/images/partner_logo_2.png" width="192" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Jenkins</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_logo">
                        <img src="/images/partner_logo_3.png" width="208" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Microsoft</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
                <div class="partners_post_item">
                    <div class="partners_post_img">
                        <img src="/images/partner_post.jpg" alt="">
                    </div>
                    <div class="partners_post_info">
                        <div class="partners_post_row">
                            <div class="partners_post_left">
                                <p class="partners_post_name">Partner Company Name</p>
                                <p class="partners_post_position">Technology Partnership</p>
                            </div>
                            <div class="partners_post_right">
                                <a class="arrow_btn" href="#">
                                    <svg class="svg_arrow_link">
                                        <use xlink:href="/images/sprite/sprite.svg#arrow_link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners_post_text block_text light">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners_bottom row">
                <div class="col_5 col_t_12">
                    <h2 class="section_title">Become a partner Lorem ipsum dolor sit amet</h2>
                    <div class="block_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <a class="btn" href="#">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
	<footer class="footer">
		<div class="container">
			<div class="footer_inner">
				<div class="footer_left">
					<a class="footer_logo" href="/">
						<img src="/images/logo.svg" alt="">
					</a>
					<p class="footer_cop bottom_line">© 2021 Bid Equity Gmbh. All rights reserved.</p>
					<div class="footer_box footer_box_links">
						<p class="footer_box_title">Quick Links</p>
						<div class="footer_links">
							<a href="#">About</a>
							<a href="#">Portfolio</a>
							<a href="#">Entrepreneurs</a>
							<a href="#">Intermediaries</a>
							<a href="#">Investors</a>
							<a href="#">News</a>
							<a href="#">Jobs</a>
							<a href="#">Contact</a>
							<a href="#">Privacy Policy</a>   
							<a href="#">Terms of Use</a>
						</div>
					</div>
				</div>
				<div class="footer_right bottom_line">
					<div class="footer_top bottom_line">
						<h3 class="footer_title">Get a reliable valuation for your business within two hours from us.</h3>
						<a class="btn" href="#">Let’s go!</a>
						<div class="footer_box footer_box_links">
							<p class="footer_box_title">Quick Links</p>
							<div class="footer_links">
								<a href="#">About</a>
								<a href="#">Portfolio</a>
								<a href="#">Entrepreneurs</a>
								<a href="#">Intermediaries</a>
								<a href="#">Investors</a>
								<a href="#">News</a>
								<a href="#">Jobs</a>
								<a href="#">Contact</a>
								<a href="#">Privacy Policy</a>   
								<a href="#">Terms of Use</a>
							</div>
						</div>
					</div>
					<div class="footer_info">
						<div class="footer_box">
							<p class="footer_box_title">Start a conversation</p>
							<div class="footer_text">
								<p>Phone +49 40 822 169 420</p>
								<p>Fax +49 40 537 981 320</p>
								<p>Mail contact@bidequity.de</p>
							</div>
						</div>
						<div class="footer_box">
							<p class="footer_box_title">Come and meet us</p>
							<div class="footer_text">
								<p>BID EQUITY GMBH <br>Große Johannisstraße 7 <br>20457 Hamburg, Germany</p>
							</div>
						</div>
						<div class="footer_box">
							<p class="footer_box_title">Get social with us</p>
							<div class="footer_soc">
								<a href="#">
									<svg class="svg_soc_tw">
										<use xlink:href="/images/sprite/sprite.svg#soc_tw"></use>
									</svg>
								</a>
								<a href="#">
									<svg class="svg_soc_in">
										<use xlink:href="/images/sprite/sprite.svg#soc_in"></use>
									</svg>
								</a>
								<a href="#">
									<svg class="svg_soc_fb">
										<use xlink:href="/images/sprite/sprite.svg#soc_fb"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

